<div class="saptamana">
  <div class="zile">
    <button class="buton" (click)="updateDay('Monday')">MON</button>
  </div>

  <div class="zile">
    <button class="buton" (click)="updateDay('Tuesday')">TUE</button>
  </div>

  <div class="zile">
    <button class="buton" (click)="updateDay('Wednesday')">WED</button>
  </div>

  <div class="zile">
    <button class="buton" (click)="updateDay('Thursday')">THU</button>
  </div>

  <div class="zile">
    <button class="buton" (click)="updateDay('Friday')">FRI</button>
  </div>

  <div class="zile">
    <button class="buton" (click)="updateDay('Saturday')">SAT</button>
  </div>

  <div class="zile">
    <button class="buton" (click)="updateDay('Sunday')">SUN</button>
  </div>
</div>
