<div class="saptamana">
  <div class="zile">
    <button class="buton" id="mon" (click)="updateDay('Monday')">MON</button>
  </div>

  <div class="zile">
    <button class="buton" id="tue" (click)="updateDay('Tuesday')">TUE</button>
  </div>

  <div class="zile">
    <button class="buton" id="wed" (click)="updateDay('Wednesday')">WED</button>
  </div>

  <div class="zile">
    <button class="buton" id="thu" (click)="updateDay('Thursday')">THU</button>
  </div>

  <div class="zile">
    <button class="buton" id="fri" (click)="updateDay('Friday')">FRI</button>
  </div>

  <div class="zile">
    <button class="buton" id="sat" (click)="updateDay('Saturday')">SAT</button>
  </div>

  <div class="zile">
    <button class="buton" id="sun" (click)="updateDay('Sunday')">SUN</button>
  </div>
</div>
