<div class="saptamana">
    <div class="zile">
        <button class="buton">MON</button>
    </div>

    <div class="zile">
        <button class="buton">TUE</button>
    </div>

    <div class="zile">
        <button class="buton">WED</button>
    </div>

    <div class="zile">
        <button class="buton">THU</button>
    </div>

    <div class="zile">
        <button class="buton">FRI</button>
    </div>

    <div class="zile">
        <button class="buton">SAT</button>
    </div>

    <div class="zile">
        <button class="buton">SUN</button>
    </div>
</div>