.time-container {
    height: 100%;
    display: flex;
    flex-flow: row;
    flex-basis: 50% 50%;
    padding-right: 25px;
    .time-interval-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .time-interval-icon {
        background-image: url('../../../../assets/icons/timeframe.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: top;
        margin-right: 10px;
        width: 15px;
        min-height: 55px;
    }
}