.header-container {
    width: 100%;
    height: 72px;
    font-family: Helvetica;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin: 15px 0 15px;
}

.weekday {
    text-align: center;
}

.back-btn {
    color: #15D0A1;
    padding: 0 15px;
}

.notification {
    padding: 0 15px;
}