.course-container {
    display: flex;
    flex-flow: row;
    flex-basis: 30% 70%;
    padding-top: 15px;
    padding-left: 20px;
    background-color: #FFFFFF;
}

.delimiter {
    height: 1px;
    border: none;
    background-color: #ECECEC;
}